body {
  text-align: center;
  background-color: #87CEEB;
  font-family: sans-serif;
}

canvas {
  background-color: #9be89b;
  border: 3px solid #444;
  display: block;
  margin: 0 auto;
}
